@import "./normalaiz";
@import './variebl';
.section {
    background-color: $color-bg;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding: 15px 15px;
    &:hover {
        color: red;
    }
}
.section__text {
    color: $color-tx;
    &:hover {
        color: white;
    }
}